<button class="{{getClass()}}" (click)="doClick()" [disabled]="disabled">
  <ng-content></ng-content>
  <span style="display: inline-block; width: 16px; margin-left: 10px"><fa-icon *ngIf="icon" [icon]="icon" [spin]="iconSpin" [class]="iconClass"></fa-icon></span>
</button>
