<div>
  <app-page-title [title]="'Ios'"></app-page-title>
  <h1>Ios</h1>
  <app-spinner [ngModel]="ios" [spinnerError]="iosError">
    <table class="table table-borderless">
      <tr *ngFor="let io of ios">
        <td>
          <fa-icon class="{{io.active ? 'text-danger' : 'text-primary'}}" [icon]="io.active ? 'toggle-on' : 'toggle-off'" style="font-size: 2em"></fa-icon>
        </td>
        <td>
          <app-button id="io_btn_{{io.id}}" type="light" [action]="toggle(io.id)">{{io.label | titlecase}}</app-button>
        </td>
      </tr>
    </table>
  </app-spinner>
</div>
