<div>
  <app-page-title [title]="'Events'"></app-page-title>
  <h1>Events</h1>
  <app-spinner [ngModel]="events" [spinnerError]="eventsError">
    <table class="table _table-borderless table-striped table-hover table-sm">
      <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Detail</th>
        <th colspan="2">Event</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.date | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{event.name}}</td>
        <td>{{event.detail}}</td>

        <td *ngIf="event.params.length == 0" colspan="2"></td>

        <td *ngIf="event.params.length == 1"></td>
        <td *ngIf="event.params.length == 1">{{event.params[0]}}</td>

        <td *ngIf="event.params.length == 2">{{event.params[0]}}</td>
        <td *ngIf="event.params.length == 2">{{event.params[1]}}</td>

        <td *ngIf="event.params.length > 2" colspan="2">!! {{event.params.join(', ')}}</td>
      </tr>
      </tbody>
    </table>
  </app-spinner>
</div>
