<div class="spinner-container" [ngSwitch]="ngModel">
  <div class="spinner" *ngSwitchCase="undefined || null">
    <fa-icon [spin]="true" [icon]="'spinner'" *ngIf="! spinnerError || !spinnerError.hasError"></fa-icon>
    <div *ngIf="spinnerError && spinnerError.hasError">
      <fa-icon class="text-danger" [icon]="'bug'" *ngIf="spinnerError && spinnerError.hasError"></fa-icon>
      <p>{{spinnerError.errorMessage}}</p>
    </div>
  </div>
  <ng-content *ngSwitchDefault></ng-content>
</div>

