@import "~bootstrap/scss/bootstrap";

button, .dropdown-menu {
  width: 100%;
  max-width: 200px;
  text-align: right;
}

.status- {
  &btn {
    @extend .btn;
    text-align: right;
  }

  &disabled {
    @extend .status-btn, .btn-outline-dark;
  }

  &armed {
    @extend .status-btn, .btn-outline-danger;
  }

  &partial {
    @extend .status-btn, .btn-outline-warning;
  }

  &immediate {
    @extend .status-btn, .btn-outline-danger;
  }

  &ready {
    @extend .status-btn, .btn-outline-success;
  }
}


.arming-mode- {
  &btn {
    //@extend .btn;
    text-align: right;
  }

  &ready {
    @extend .arming-mode-btn, .text-success;
  }

  &regular {
    @extend .arming-mode-btn, .text-danger;
  }

  &forced {
    @extend .arming-mode-btn, .text-danger;
  }

  &immediate {
    @extend .arming-mode-btn, .text-danger;
  }

  &partial {
    @extend .arming-mode-btn, .text-warning;
  }
}
