<div>
  <app-page-title [title]="'Areas'"></app-page-title>
  <h1>Areas <app-button-reload [action]="manualUpdateAreas()" ></app-button-reload></h1>
  <app-spinner [ngModel]="areas" [spinnerError]="areasError">
    <table class="table table-borderless">
      <tr *ngFor="let area of areas">
        <td>{{area.label}}</td>
        <td>
          <div ngbDropdown>
            <button ngClass="status-btn status-{{area.status || 'ready'}} {{'disabled' == area.status ? 'disabled' : ''}}" id="dropdownAreaBtn" ngbDropdownToggle>{{area.status | titlecase}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAreaBtn" *ngIf="'disabled' != area.status">
              <button class="arming-mode-regular" ngbDropdownItem (click)="setArmingMode(area.area, 'regular')">Regular</button>
              <button class="arming-mode-forced" ngbDropdownItem (click)="setArmingMode(area.area, 'forced')">Forced</button>
              <button class="arming-mode-immediate" ngbDropdownItem (click)="setArmingMode(area.area, 'immediate')">Immediate</button>
              <button class="arming-mode-partial" ngbDropdownItem (click)="setArmingMode(area.area, 'partial')">Partial</button>
              <div class="dropdown-divider"></div>
              <button class="arming-mode-ready" ngbDropdownItem (click)="setArmingMode(area.area, 'ready')">Ready</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </app-spinner>
</div>
