<td>{{ngModel.area}}</td>
<td>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownAreaBtn" ngbDropdownToggle>{{ngModel.status | titlecase}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownAreaBtn">
      <button ngbDropdownItem>Ready</button>
      <button ngbDropdownItem>Regular</button>
      <button ngbDropdownItem>Forced</button>
      <button ngbDropdownItem>Immediate</button>
      <button ngbDropdownItem>Partial</button>
    </div>
  </div>
</td>
