<div class="container">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/areas"><fa-icon [icon]="'home'"></fa-icon> Paradox API</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/areas" routerLinkActive="active"><fa-icon [icon]="'server'"></fa-icon> Areas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ios" routerLinkActive="active"><fa-icon [icon]="'toggle-on'"></fa-icon> Ios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="events"><fa-icon [icon]="'clipboard-list'"></fa-icon> Events</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!--<a class="nav-link" href="#" (click)="logout()"><fa-icon [icon]="'cloud'"></fa-icon> Logout</a>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api"><fa-icon [icon]="'cloud'"></fa-icon> API</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
